.choise__container 
  .wrapper.main__wrapper
    +headline('Почему выбирают автосервисы «Навигатор»', '1')
    .choise__slider
      .choise__slider-block
        include ../common/slider
    .registration
      .registration__block
        a(href='#').registration__button Записаться