include ../common/mixins

.main__container 
  .wrapper.wrapper__minmax
    .header
      .header__wrap
        .header__menu
          ul.header__list
            +menuitem('#', 'В магазин')
            +menuitem('#', 'Прайс')
            +menuitem('#', 'Оставить отзыв')
            +menuitem('#', 'Контакты')
        .header__contacts
          ul.header__list
            +contactphone('Тольятти', '(8482)37-95-30')
            +contactphone('Сызрань', '(8464)37-30-60')
    .main__brand
      p.brand__type Сеть автосервисов
      p.brand__name Навигатор
      p.brand__slogan Европейский сервис по отечественной цене
    .main__description
      .main__description-block  
        +descriptionblock('discounts', 'Всегда выгодные акции')
        +descriptionblock('guarantee', 'Гарантия на работы')
        +descriptionblock('recreation', 'Комфортная зона ожидания')
    .registration
      .registration__block
        a(href='#').registration__button Записаться
    .main_arrow
      .main__arrow-block
        a(href='#').main_arrow-link
          img(src="dist/img/arrow-down.svg" onerror="this.onerror=null; this.src='dist/img/arrow-down.png'") 

