.main__container#main 
  .wrapper.main__wrapper
    .header
      .header__wrap
        .header__menu
          ul.header__list
            +menuitem('#price', 'В магазин')
            +menuitem('#price', 'Прайс')
            +menuitem('#review', 'Оставить отзыв')
            +menuitem('#contacts', 'Контакты')
        .header__contacts
          ul.header__list
            +contactphone('Тольятти', '(8482)37-95-30')
            +contactphone('Сызрань', '(8464)37-30-60')
    .main__brand
      p.main__brand-type Сеть автосервисов
      svg(width="420" height="100" viewbox="0 0 320 43").svg
          use(xlink:href='#navigator-logo')
      p.main__brand-slogan Европейский сервис по отечественной цене
    .main__description
      .main__description-block  
        +descriptionblock('discounts', 'Всегда выгодные акции')
        +descriptionblock('guarantee', 'Гарантия на работы')
        +descriptionblock('recreation', 'Комфортная зона ожидания')
    +registration('#order')
    .main_arrow
      .main__arrow-block
        a(href='#price').main_arrow-link
          img(src="dist/img/arrow-down.svg" alt="arrowdown" onerror="this.onerror=null; this.src='dist/img/arrow-down.png'") 

