include ../common/mixins

.price__container  
  .wrapper 
    .price__headline
      .price__headline-block
        p.price__headline-text Прайс на услуги
    .price__services
      .price__services-block
        +priceitem ('tech-service', 'price-tech-service', 'Техническое обслуживание')
        +priceitem ('cooling-system', 'cooling-system', 'Система охлаждения')
        +priceitem ('tyres', 'price-tyres', 'Шиномонтажные работы')
        +priceitem ('geometry', 'price-geometry', 'Геометрия подвески')
        +priceitem ('steering-wheel', 'steering-wheel', 'Подвеска, рулевое управление')
        +priceitem ('brakers', 'brakers', 'Тормозная система')
        +priceitem ('battery', 'battery', 'Аккумуляторы и свечи')
        +priceitem ('tech-service', 'price-tech-service', 'Генератор, стартер и ремни')
        +priceitem ('optics', 'optics', 'Оптика')
        +priceitem ('conditioner', 'conditioner', 'Система кондиционирования')
        +priceitem ('gear', 'gear', 'Трансмиссия') 
        +priceitem ('other', 'other', 'Другое') 
    .registration
      .registration__block
        a(href='#').registration__button Записаться