.main__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  background-image: url('../../dist/img/mainback.jpg');
  background-size: cover;
  position: relative;
}
.main__container::after {
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.8;
}
.header {
  height: $headerheight;
  width: 100%;
  box-shadow: 0 1px 0 0 #424242;
}
.header__wrap {
  display: flex;
  height: 100%;
}
.header__menu {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.header__list {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
}
.header__item {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 2rem;
}
.header__item:hover {
  border-bottom: 1px solid $yellow;
  color: $yellow;
}
.header__link {
  text-decoration: none;
  outline: none;
  color: $white;
  text-transform: uppercase;
  position: relative;
}
.header__link::after {
  position: absolute;
  content: '';
  display: block;
  cursor: pointer;
  top: -4rem;
  height: 9rem;
  width: 100%; 
}
.header__link:hover {
  color: $yellow;
}
.header__contacts {
  display: flex;
  align-items: center;
}
.header__contacts-item {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.header__town {
  display: inline-block;
  color: $white;
  text-transform: uppercase;
}
.header__number {
  display: inline-block;
  color: $yellow;
  text-transform: uppercase;
  margin-left: 0.5rem;
}
.main__brand {
  min-height: $brandheight;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.brand__type {
  @include ptsans(bold);
  text-transform: uppercase;
  padding-top: 4.0625rem;
  line-height: 3.75rem;
  color: $yellow;
  font-size: 3.875rem;
}
.brand__name {
  @include ptsans(bold);
  text-transform: uppercase;
  padding-top: 0.625rem;
  line-height: 5rem;
  color: $yellow;
  font-size: 5rem;  
}
.brand__slogan {
  @include ptsans(bold);
  text-transform: uppercase;
  padding-top: 2.9375rem;
  line-height: 2.75rem;
  color: $white;
  font-size: 2.75rem;
}
.main__description {
  min-height: $descrheight;
  display: flex;
  justify-content: center;
}
.main__description-block {
  display: flex;
  justify-content: space-between;
}
.main__description-item {
  margin: 0 6rem;
  width: $descritemwidth;
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.main__description-icon {
  height: 6.25rem;
  width: 6.25rem;
}
.main__description-link {
  text-align: center;
  font-size: 1.125rem;
  color: $yellow;
  text-transform: uppercase;
  text-decoration-style: dotted;
  position: relative;
}
.main__description-link::after {
  position: absolute;
  content: '';
  display: block;
  cursor: pointer;
  top: 0;
  height: 4rem;
  width: 100%;
}
.main__description-link:hover {
  text-decoration: none;
}
.image__width {
  width: 100%;
}
.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1; 
}
.registration__block {
  padding-top: 1rem;
}
.registration__button {
  display: inline-block;
  text-decoration: none;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: $registbuttonh;
  @include ptsans(bold);
  color: $headline;
  height: $registbuttonh;
  width: $registbuttonw;
  background-color: $yellow;
  border-radius: 1rem;
}