.price__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $pricebackground;
}
.price__services {
  display: flex;
  justify-content: center;
  width: 100%; 
}
.price__services-block {
  display: flex;  
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.price__services-item {
  display: flex;
  height: 17.35rem;
  width: 17.35rem;
  margin: 1rem;
  border-radius: 1rem;
  background-size: cover;
}
.price__services-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  @include ptsans(bold);
  font-size: 1.125rem;
  color: $yellow;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
.price__services-link::after {
  position: absolute;
  content: '';
  display: block;
  cursor: pointer;
  top: 0;
  height: 100%;
  width: 100%;
  background: $footerbackground;
  opacity: 0.7;
  border-radius: 1rem;
}
.price__services-link:hover::after {
  background: $yellow;
}
.price__services-link:hover {
  color: black;
  .svg {
    fill: black;
  }
}
.price__services-half {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  z-index: 10;
}
.price__services-half--end {
  display: flex;
  justify-content: flex-end;
}
.price__services-icon {
  height: 3.75rem;
}
.price__services-text {
  padding: 1rem 2rem;
}