doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="dist/css/style.css")
    include ../common/mixins
    title СТО Навигатор

  body
    .container
      include ../sections/main
      include ../sections/price
      include ../sections/choice
      include ../sections/order
      include ../sections/review
      include ../sections/map
      include ../sections/footer
