.review-csslider
  input(type="radio" name="slide" id="slide_1" checked)
  input(type="radio" name="slide" id="slide_2")
  input(type="radio" name="slide" id="slide_3")
  input(type="radio" name="slide" id="slide_4")
  input(type="radio" name="slide" id="slide_N")
  ul
    li
      p.review__item Отзывывывывывывывыв
    li
      p.review__item Отзывывdfsfsd
    li
      p.review__item Отзывыghkjhkjk
    li
      p.review__item Отзывыjhjghjh
    li
      p.review__item Отзывывыjffghj
  .review-arrows
    label(for="slide_1")
    label(for="slide_2")
    label(for="slide_3")
    label(for="slide_4")
    label(for="slide_N")
    label(for="slide_1").review-goto-first
    label(for="slide_N").review-goto-last
  .review-navigation
    div
      label(for="slide_1")
      label(for="slide_2")
      label(for="slide_3")
      label(for="slide_4")
      label(for="slide_N")
  .review-slider__border