//colors
$yellow: #FBCA0b;
$white: #FFFFFF;
$grey: #4e5a60;
$headline: #263238;
$itembackgroundcolor: #FFCC05;
$buttonhover: #FCEC20;
$buttongradient: #FBB03A;
$buttonbottomborder: #F15A24;
$formlabelcolor: #808080;
$formfieldcolor: #cccccc;
$pricebackground: #E5E6E7;
$choisebackground: #263238;
$reviewbackground: #E5E6E7;
$footerbackground: #151515; 
$footermenuitem: #4D4D4D; 

//sizes
$maxwidth: 1920px;
$wrapperwidth: 1240px;
$minheight: 800px;
$maxheight: 1024px; 
$headerheight: 8.775rem;
$brandheight: 23rem;
$descrheight: 10.5rem;
$descritemwidth: 11.25rem;
$registheight: 8rem;
$registbuttonh: 5rem;
$registbuttonw: 17rem;
$inputheight: 3.5rem;

@import "_misc/fonts";
@import "_misc/normalize";
@import "_misc/adjustment";
@import "sections/main";
@import "sections/price";
@import "sections/choise";
@import "sections/order";
@import "sections/review";
@import "sections/map";
@import "_misc/media";
@import "_misc/slider";
@import "_misc/review-slider";
@import "_misc/select";