//colors
$yellow: #FBCA0b;
$white: #FFFFFF;
$headline: #263238;
$itembackgroundcolor: #FFCC05;
$buttongradient: #FBB03A;
$buttonbottomborder: #F15A24;
$formlabelcolor: #808080;
$formfieldcolor: #cccccc;
$pricebackground: #E5E6E7;
$reviewbackground: #E5E6E7;
$footerbackground: #151515;
$footermenuitem: #4D4D4D; 

//sizes
$maxwidth: 1920px;
$wrapperwidth: 1240px;
$minheight: 800px;
$maxheight: 1024px; 
$headerheight: 8.775rem;
$brandheight: 23.625rem;
$descrheight: 10.5rem;
$descritemwidth: 11.25rem;
$registheight: 8rem;
$registbuttonh: 5rem;
$registbuttonw: 17rem;

@import "_misc/fonts";
@import "_misc/normalize";
@import "_misc/adjustment";
@import "sections/main";
@import "sections/price";
@import "_misc/media";
