@media screen and (max-width: 1280px) { 
  html {
    font-size: 15px;
  }
  .wrapper {
    width: 1180px;
  }
  .review__wrapper {
    width: 1180px;
  }
  .footer__wrapper {
    width: 1180px;
  }
  .price__services-item {
    height: 16.438rem;
    width: 16.438rem;
  }
}